# Virtual Environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Large model files
*.h5
*.mkv
model.h5

# Jupyter Notebook checkpoints
.ipynb_checkpoints/ 